html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

a {
  color: inherit;
  text-decoration: none;
  align-items:center;
  margin-left: 50px;
  margin-right: 50px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(20, 20, 20);
    background: rgb(255, 255, 255);

    .background{
      min-height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 200px;
    }
    .form{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }


  }
}

