.button{
    padding: 10px 10px;
    border: 0;
    background-color: rgb(6, 61, 245);
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}