.card{
    background-color: rgb(84, 155, 247);
    width: 350px;
    padding: 25px;
    border-radius: 10px;
}

.title{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;

}

